<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="\static\styles\mystyle.css">
	</head>
	<body>
	<br>
	<div class="row">
		<form class="container" action="/searchresult" method="get">
			<div class="row">
				<div class="col-md-4"></div>
				<input class="col-md-4" type="text" name="loc" placeholder="Введите искомое слово">
			</div>
			<div class="row">
				<select name="genre" id="language" class="form-control">
					<option value="avarrus">Аварско-русский</option>
					<option value="rusavar">Русско-аварский</option>
			</div>
			<br>
			<div class="row">
				<input type="submit" name="submit" value="Поиск">
			</div>
			</form>
				<form>
				<h1 align='center'>Русско-аварский словарь</h1>
				  <table border="1" width="40%" cellpadding="5" align='center'>
					<tr>
					<th><a class="linker" href="а.html">а</a></th>
					<th><a class="linker" href="б.html">б</a></th>
					<th><a class="linker" href="в.html">в</a></th>
					<th><a class="linker" href="г.html">г</a></th>
					<th><a class="linker" href="д.html">е</a></th>
					<th><a class="linker" href="д.html">ё</a></th>
					</tr>
					<tr>
					<th><a class="linker" href="д.html">ж</a></th>
					<th><a class="linker" href="д.html">з</a></th>
					<th><a class="linker" href="д.html">и</a></th>
					<th><a class="linker" href="д.html">к</a></th>
					<th><a class="linker" href="д.html">л</a></th>
					<th><a class="linker" href="д.html">м</a></th>
					</tr>
					</table>
				</form>
				<form>
				<h1 align='center'>Аварско-русский словарь</h1>
				  <table border="1" width="40%" cellpadding="5" align='center'>
					<tr>
					<th><a class="linker" href="а.html">а</a></th>
					<th><a class="linker" href="б.html">б</a></th>
					<th><a class="linker" href="в.html">в</a></th>
					<th><a class="linker" href="г.html">г</a></th>
					<th><a class="linker" href="д.html">е</a></th>
					<th><a class="linker" href="д.html">ё</a></th>
					</tr>
					<tr>
					<th><a class="linker" href="д.html">ж</a></th>
					<th><a class="linker" href="д.html">з</a></th>
					<th><a class="linker" href="д.html">и</a></th>
					<th><a class="linker" href="д.html">к</a></th>
					<th><a class="linker" href="д.html">л</a></th>
					<th><a class="linker" href="д.html">м</a></th>
					</tr>
					</table>
				</form>
	</body>
</html>