<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Word Article</title>
		<link rel="stylesheet" href="../static/styles/mystyle.css">
	</head>
	<body>
	<header width="100%">
		<br>
		<h1>Аварско-русский и Русско-аварский онлайн-словарь</h1>
		<h2>(Под редакцией М.М. Гимбатова) – Махачкала: ДНЦ РАН, 2006<h2>
		<h3>Школа лингвистики, 2021</h3>
		<br>
	</header>
	<br>
	<form id='searchform' action="/searchresult" method="get">
		<table align='center' id='search'>
		<tr>
			<td id='searchinput' width="60%" align='center'>
				<input required size='100%' type="text" name="loc" placeholder="Введите искомое слово">
			</td>
			<td id='searchchoice' width="25%" align='left'>
				<select width='100%' name="genre" id="language">
					<option value="avarrus">Аварско-русский перевод</option>
					<option value="rusavar">Русско-аварский перевод</option>
			</td align='center'>
			<td id='searchbutton' width="15%" align='left'>
				<button id='searchbutton' type="submit" name="submit" value="Поиск"><b>Поиск</b></button>
			</td>
		</tr>
		</table>
		</form>
		<div class='cont'>
		<div id='ourbody'>
				
		<form id='output'>
				<h1 id='base'>{{ word.base }}</h1>
					<h3>{{ word.lemma }}</h3>
					{% if word.grammar %}
					<h5> {{ word.grammar }} </h5>
					<br>
					{% endif %}
					
			<i>{{ word.explanatation }}</i>
				{% if word.translate %}
				
					<h4 align="left"><i>Перевод:</i></h4>
					{{ word.translate }}
					<br>
				{% endif %}
				
				{% if word_link %}
				
					<i>см. </i>{{ word_link }}
				{% endif %}
			
			<br>
			{% if word.examples %}
			<h4 align="left"><i>Примеры:</i></h4>
			<table class="table" align='left' width='60%' cellspacing='5px'>
				{% for pair in word.examples %}
				<tr>
					<td width="50%">
						<b>{{ pair[0]|safe }}</b>
					</td>
					
					<td width="50%">
						{{ pair[1]|safe }}
					</td>
				</tr>	
				{% endfor %}
			</table>
			{% endif %}
		</form>
		<br>
		<br>
	</div>
	
		<div id="retyrn">
		
			<a class="linker" href="../"><u>Перейти на главную страницу</u></a></p>
			<br>
		
    </div>
</div>
	</body>
</html>